body{margin-top:20px;}

.product-card-10 {
    border: 1px solid var(--bs-gray-300)
}

.product-card-10 .product-card-image {
    position: relative
}

.product-card-10 .badge-ribbon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--bs-danger);
    color: var(--bs-white);
    z-index: 1;
    border-radius: 50%
}

.product-card-10 .product-media {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--bs-gray-300)
}

.product-card-10 .product-media img {
    transition: ease all .35s;
    transform: scale(1)
}

.product-card-10 .product-action {
    padding-top: 8px
}

.product-card-10 .product-action .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-primary);
    color: var(--bs-white);
    margin: 0 2px;
    padding: 0
}

@media (max-width:575.98px) {
    .product-card-10 .product-action .btn {
        width: 26px;
        height: 26px;
        margin: 1px;
        font-size: 12px
    }
}

.product-card-10 .product-action .btn:hover {
    background: var(--bs-dark);
    color: var(--bs-white)
}

.product-card-10 .product-card-info {
    text-align: center;
    padding: 15px;
    background-color: antiquewhite;
}

@media (max-width:575.98px) {
    .product-card-10 .product-card-info {
        padding: 8px
    }
}

.product-card-10 .rating-star {
    font-size: 12px;
    margin-bottom: 5px
}

.product-card-10 .product-title {
    font-size: 14px;
    margin: 0
}

.product-card-10 .product-title a {
    color: var(--bs-dark)
}

.product-card-10 .product-price {
    margin-top: 8px;
    line-height: normal
}

.product-card-10:hover .product-media img {
    transform: scale(1.03)
}

a {
text-decoration:none;    
}